{% if annotation_types %}
    {% for annotation_type in annotation_types %}

      .category{{annotation_type.id}} {
         color: {{annotation_type.color}} !important;
        font-weight: bolder;
}

    {% endfor %}

      .categoryDelete{
          color: #c0c0c0   !important;
        font-weight: bolder;
      }
{% endif %}
